@charset "UTF-8";

body {
	background-color : #fff8e1;
	display :flex;
	align-items : center;
	flex-direction : column;
	font-family: arial;
}

textarea {
	height : 50vh;
	width : 30vw;
	margin : 10px;
	padding : 10px;
	font-family: arial;
	font-size : xx-large;
}

form {
	display : flex;
	flex-direction : column;
	align-items : center;
}

#textArea{
	display : flex;
	flex-direction : row;
}

button {
	margin : 10px;
	font-family: arial;
	width : 10vW;
}

.resultat{
	margin : 10px;
	background-color :  #e0f7fa;
	border : solid 1px;
	padding : 10px;
	width : 30vw;
	font-family : Arial, Helvetica, sans-serif;
	display : flex;
	flex-direction : column;
	align-items: center;
}

.nouvellePersonne{
	font-weight: bold;
	font-size: xx-large;
	margin : 10px 5px;
	background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);   
	-webkit-background-clip: text;
  	color: transparent;
}