<!DOCTYPE xhtml>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Roue de la Chance</title>
<link rel="stylesheet" th:href="@{/css/choixIndex.css}" media="screen"
	type="text/css">
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
</head>

<body>
	<h1>La roue de la chance</h1>

	<form method="POST" th:object="${choix}" th:action="@{/index}">
		<div id="textArea">
			<textarea id="seniors" th:field="*{seniors}"></textarea>
			<textarea id="juniors" th:field="*{juniors}"></textarea>
		</div>
		<button type="submit">choisir</button>
	</form>
	<div id="theChousens">
		<div th:if="${pompier != null}" class="resultat">
			<div class="nouvellePersonne" th:text="'Pompier : ' + ${pompier}"></div>
			<div th:text="'Suppléant : '  + ${suppleantPompier}"></div>
		</div>

		<div th:if="${revieweur != null}" class="resultat">
			<div class="nouvellePersonne" th:text="'Revieweur : ' + ${revieweur}"></div>
			<div th:text="'Suppléant : '  + ${suppleantRevieweur}"></div>
		</div>

		<div th:if="${versionneur != null}" class="resultat">
			<div class="nouvellePersonne"
				th:text="'Versionneur : ' + ${versionneur}"></div>
			<div th:text="'Suppléant : '  + ${suppleantVersionneur}"></div>
		</div>
	</div>
	<span>Version du build : <span th:text=${@environment.getProperty("build.version")} /></span>
</body>
</html>